html, body{
    background-color:hsl(212, 45%, 89%);
    margin: 0;
    padding: 0;

}

.container{
    width: 100%;
    height: 97vh;
}

.wrap {
    width: 300px;
    height: 480px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    
}

.wrap img{
    width: 270px;
    height: 270px;
    margin: 15px;
    border-radius: 18px;
}
.wrap h2{
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    margin: 0 30px 15px;
    color: hsl(218, 44%, 22%);
}

.wrap p{
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    margin: 20px 30px 50px;
    font-size: 11;
    color: hsl(220, 15%, 55%);
}

.attribution { 
    font-size: 11px;
    text-align: center; 
    margin-bottom: 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
